{% extends "app/base.html" %}

{% block body %}
{% load static %}

<div class="text-center">
    <h4>RAVI DOSA CORNER, PALAM</h4><br>
    <p>
        We are a reliable restaurant with a trust of over 20 years.<br>
        Feel free to order from us or any of our partner food deliveries sites.<br><br><b>Address:</b><br>

        <a href="https://www.google.com/maps/place/Ravi+Dosa+Corner/@28.584225,77.0841723,17z/data=!3m1!4b1!4m5!3m4!1s0x390d1b696def1dfb:0xeebcf058eb2d140f!8m2!3d28.584225!4d77.086361?hl=en-GB" target="_blank">
            RZB-215, Old Mehrauli Rd, Raj Nagar I, Raj Nagar, New Delhi, Delhi 110045
        </a>   

        <br><br><b>Phone:</b>
        <a href="http://wa.me/919868575943/" target="_blank" class="mx-2">+91-9868575943</a>
        <br><br>Thank You
    </p>
</div>
<div class="text-center mt-5">
    &emsp;<a href="https://www.nearbuy.com/delhi-ncr/ravi-dosa-corner-palam" target="_blank"><img src="{% static 'app/images/nearbuy.jpg' %}" width="60" height="60" alt="nearbuy logo here" class="rounded" /></a>
    &emsp;<a href="https://www.ixigo.com/ravi-dosa-corner-new-delhi-ne-1710890" target="_blank"><img src="{% static 'app/images/ixigo.png' %}" width="60" height="60" alt="ixigo logo here" class="rounded" /></a>   
</div>

{% endblock body %}
