{% extends "app/base.html" %}

{% block body %}

    {% load static %}

    <div class="text-center align-items-center">
        <img src="{% static 'app/images/main.jpg' %}" width="700" height="700" alt="shop pic here" class="rounded" />
    </div>
<br><br>
    <div class="text-center">
        <h3>Order from your favourite platform</h3><br><br>
    </div>
<div class="text-center">
    &emsp;<a href="https://www.zomato.com/ncr/ravi-dosa-corner-palam-new-delhi" target="_blank"><img src="{% static 'app/images/zomato.png' %}" width="80" height="80" alt="zomato logo here" class="rounded" /></a>
    &emsp;<a href="https://www.swiggy.com/restaurants/ravi-dosa-corner-old-mehrauli-road-dwarka-delhi-153376" target="_blank"><img src="{% static 'app/images/swiggy.jpg' %}" width="80" height="80" alt="swiggy logo here" class="rounded" /></a>
    &emsp;<a href="https://www.justdial.com/Delhi/Ravi-Dosa-Corner-Near-Sweets-Corner-Palam/011PXX11-XX11-171010201744-H8Z2_BZDET" target="_blank"><img src="{% static 'app/images/justdial.png' %}" width="80" height="80" alt="justdial logo here" class="rounded" /></a>
    &emsp;<a href="https://magicpin.in/New-Delhi/Palam/Restaurant/Ravi-Dosa-Corner/store/a2722/menu/" target="_blank"><img src="{% static 'app/images/magicpin.png' %}" width="80" height="80" alt="magicpin logo here" class="rounded" /></a>
    &emsp;<a href="https://www.sluurpy.in/new-delhi/restaurant/4515130/ravi-dosa-corner" target="_blank"><img src="{% static 'app/images/sluurpy.png' %}" width="80" height="80" alt="sluurpy logo here" class="rounded" /></a>
</div>
<br><br>
<div class="text-center">
Or directly reach us at +91-9868575943 &emsp;<a href="http://wa.me/919868575943/" target="_blank"><img src="{% static 'app/images/whatsapp.png' %}" width="50" height="50" alt="whatsapp logo here" /></a>
</div><br><br>
<div class="text-center">
<b>Address:</b><br>
<a href="https://www.google.com/maps/place/Ravi+Dosa+Corner/@28.584225,77.0841723,17z/data=!3m1!4b1!4m5!3m4!1s0x390d1b696def1dfb:0xeebcf058eb2d140f!8m2!3d28.584225!4d77.086361?hl=en-GB" target="_blank">
    RZB-215, Old Mehrauli Rd, Raj Nagar I, Raj Nagar, New Delhi, Delhi 110045
</a>  
</div><br><br>
<div class="text-center">
    <h6><b>Disclaimer:</b> This website is optimized to view in desktops/laptops</h6>
</div>
<div class="text-center">
    <h6>Site managed by:&nbsp; <b>Rohit Sharma</b><a class="mx-2" href="mailto://akaroshaa@gmail.com/" target="_blank"><img src="{% static 'app/images/gmail.png' %}" width="18" height="18" alt="gmail logo here" /></a></h6>
</div>

{% endblock body %}
