{% extends "app/base.html" %}

{% block body %}

<div class="container my-5 col-sm-9">
    <h3>Password Reset</h3><br><br>
    <h6>An email will be sent to your registered E-mail ID to reset your password</h6><br><br>
    <form method="POST" action="" novalidate>
    {% csrf_token %}
    <div class="form-group">
        {% for field in form %}
            {{ field.label_tag }} {{ field }} <font color="red">{{ field.errors|striptags }}</font><br>
        {% endfor %}
    </div><br>
    <div class="text-center"><button class="btn btn-primary mx-2">Request Password Reset</button></div>
    </form>
</div>

{% endblock body %}
