{% extends "app/base.html" %}

{% block body %}

<div class="container my-5 col-sm-9">
    <h3>Set New Password</h3><br><br>
    <form method="POST" action="" novalidate>
    {% csrf_token %}
    <div class="form-group">
        {% for field in form %}
            {{ field.label_tag }} {{ field }} <font color="red">{{ field.errors|striptags }}</font><br>
        {% endfor %}
    </div><br>
    <div class="text-center"><button class="btn btn-primary mx-2">Change</button></div>
    </form>
</div>

{% endblock body %}
